/vendor/
/node_modules/
/.idea/
/.vscode/
/storage/
/bootstrap/cache/
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
*.log
composer.lock
package-lock.json